:root {
    --green: #556b2f;
    --tan: #deb887;
    --brown: #A0522d;
}
/* provides base level style for continuity on page */
body {
    font-family: Georgia,Helvetica, serif;
    font-size:115%;
    text-align: left;
    text-indent: 5%;
    background-color: var(--tan);
}
/* adds border to header bar */
header {
    border-style: groove;
    border-color:var(--brown);
    border-width: 15px;
    border-radius: 10px;
    margin-bottom: 10px;

}
/* adds and styles profile picture */
header img {
    width: 400px;
    border-radius: 10px;
    border-color: var(--green);
    border-style: solid;
    margin: 10px;
}
/* removes list style from nav bar */
header nav ul {
    list-style-type: none;
    font-size: 20px;
    font-style: oblique;
    background-color: var(--brown);
}
/* styles links to appear black and have no visible style */
a {
    color:black;
    text-emphasis: none;
    text-decoration: solid;
}
/* styles all hyperlinks to change on hover */
a:hover {
    color:var(--green);
    font-style:oblique;
}
/* styles internal nav keys to match nav bar */
main span {
    font-style:oblique
}
/* adds border to sections under header bar */
main section {
    border-style:double;
    border-color: var(--green);
    border-width:10px;
    border-radius: 10px;
    margin-top: 10px;
}
/* removes list style from About Me section */
main ul {
    list-style-type:none;
}
/* styles the images in My Project section */
p img {
    display: block;
    border: dotted;
    border-color: var(--brown);
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin:10px;
} 
/* styles footer to center text */
footer span {
    color:var(--green);
   display:flex;
   justify-content: center;
}
/* adds style to footer on a hover action */
footer span:hover{
    font-weight: 800;
}
/* sizes and styles figure of mushroom */
footer figure {
    background-color: var(--brown);
    border-radius: 10px;
    display: flex;
    justify-self: center;
    height: 150px;
    width: 150px;
}