:root {
    --green: #556b2f;
    --tan: #deb887;
    --brown: #A0522d;
}

body {
    font-family: Georgia,Helvetica, serif;
    background-color: var(--tan);
}

header {
    border-style: groove;
    border-color:var(--brown);
    border-width: 15px;
    margin-bottom: 10px;

}

header figure {
    width: 10px;
    height: 10px;
    margin: 15px;
}

header nav ul {
    list-style-type: none;
}

a {
    color:black;
    text-emphasis: none;
    text-decoration: solid;
}

a:hover {
    color:var(--green);
}

main section {
    border-style:groove;
    border-color: var(--green);
    border-width:10px;
    margin-top: 10px;
}

p img {
    display: none;
}

p:hover img {
    display:block;
    max-width: 150px;
    max-height: 400px;
}

footer span {
    margin-top: 10px;
    margin-left: 39%;
}