:root {
    --green: #556b2f;
    --tan: #deb887;
    --brown: #A0522d;
}

body {
    /* insert style here */
}

header h1 {
    /* insert style here */
}

main {
    /* insert style here */
}

footer {
    /* insert style here */
}